<template>
    <div>
      
      <!-- Navbar-->
      <header class="navbar navbar-expand-lg navbar-light fixed-top" data-scroll-header>
        <div class="container"><a class="navbar-brand me-3 me-xl-4" href="/"><img class="d-block" src="/logo/logo.png" width="60" alt="Finder"></a>
          <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div v-if="auth==='yes'" class="dropdown d-none d-lg-block order-lg-3 my-n2 me-3"><a class="d-block py-2" href="#">
              <img class="rounded-circle" :src="pic" width="40" alt="" v-if="pic!==null && pic!==''">
              <img class="rounded-circle" src="/images/bg.png" width="40" alt="" v-else></a>
            <div class="dropdown-menu dropdown-menu-end">
              <div class="d-flex align-items-start border-bottom px-3 py-1 mb-2" style="width: 16rem;">
                  <img class="rounded-circle" :src="pic" width="48" alt="" v-if="pic!==null && pic!==''">
                  <img class="rounded-circle" src="/images/bg.png" width="48" alt="" v-else>
                <div class="ps-2">
                  <h6 class="fs-base mb-0">{{name}}</h6><span class="star-rating star-rating-sm">
                      <i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star-filled active"></i>
                      <i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star-filled active"></i>
                      <i class="star-rating-icon fi-star-filled active"></i></span>
                  <div class="fs-xs py-2">{{email}}</div>
                </div>
              </div><router-link to="/home" class="dropdown-item" href="#"><i class="fi-user opacity-60 me-2"></i>Dashboard</router-link>
              <div class="dropdown-divider" ></div>
              <a class="dropdown-item" v-on:click="logout()" href="#">Sign Out</a>
            </div>
          </div>
          
          <a v-else  v-on:click="showLoginModal()" class="btn btn-sm text-primary d-none d-lg-block order-lg-3" href="#" ><i class="fi-user me-2">
         </i>Sign in</a>
         
            
          <div class="collapse navbar-collapse order-lg-2" id="navbarNav">
            <ul class="navbar-nav navbar-nav-scroll" style="max-height: 35rem;">
              <!-- Demos switcher-->
             
              <!-- Menu items-->
              <input type="text" class="form-control form-control-sm" id="myInput" v-model="message.filterval"  v-on:keyup="filter()"  placeholder="Filter  products..." >
               <li class="nav-item  ">
                 <router-link to="/" class="nav-link " href="#" >Home</router-link>
              </li>
               <li class="nav-item  ">
                   <router-link to="/categories" class="nav-link " href="#" >Categories</router-link>
              </li>
               <li class="nav-item  ">
                  <router-link to="/products" class="nav-link " href="#" >Products</router-link>
              </li>
              
               <li class="nav-item  ">
                   <router-link to="/support" class="nav-link " href="#" >Support</router-link>
              </li>
             
               <li v-if="auth==='yes'" class="nav-item dropdown d-lg-none"><a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 <img  v-if="pic!==null && pic!==''" class="rounded-circle me-2" :src="pic" width="30" alt="Annette Black">{{name}}</a>
                 
                <div class="dropdown-menu">
                  <div class="ps-3"><span class="star-rating star-rating-sm"><i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star-filled active"></i></span>
                    <div class="fs-xs py-2">{{email}}</div>
                  </div>
                 
                  <router-link to="/home" class="dropdown-item" href="#"><i class="fi-star opacity-60 me-2"></i>Dashboard</router-link>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" v-on:click="logout()" href="#">Sign Out</a>
                </div>
              </li>
             <li v-else  class="nav-item d-lg-none"><a class="nav-link" href="#signin-modal" data-bs-toggle="modal"><i class="fi-user me-2"></i>Sign in</a></li>
             
            </ul>
          </div>
        </div>
      </header>

        <router-view></router-view>
       
 <!-- Sign In Modal-->
      <div class="modal fade" id="signin-modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered p-2 my-0 mx-auto" style="max-width: 950px;">
          <div class="modal-content">
            <div class="modal-body px-0 py-2 py-sm-0">
              <button class="btn-close position-absolute top-0 end-0 mt-3 me-3" type="button" data-bs-dismiss="modal"></button>
              <div class="row mx-0 align-items-center">
                <div class="col-md-6 border-end-md p-4 p-sm-5">
                  <h2 class="h3 mb-4 mb-sm-5">Hey there!<br>Sign in to continue.</h2>
                  <img class="d-block mx-auto" src="/images/user.jpg" width="344" alt="Illustartion">
                  <div v-if="action==='login'" class="mt-4 mt-sm-5">Don't have an account? <a v-on:click="switchRegister()" href="#">Sign up here</a></div>
                  <div v-else class="mt-4 mt-sm-5">Have an account  <a href="#" v-on:click="switchLogin()">Sign in here</a></div>
                </div>
                <div class="col-md-6 px-4 pt-2 pb-4 px-sm-5 pb-sm-5 pt-md-5">
                    <a class="btn btn-outline-info rounded-pill w-100 mb-3" href="#" v-on:click="loginWithGoogle()">
                      <i class="fi-google fs-lg me-1"></i>Sign in with Google</a>
                  <div class="d-flex align-items-center py-3">
                    <hr class="w-100">
                    <!-- <div class="px-3">Sign</div> -->
                    <p>Or</p>
                    <hr class="w-100">
                  </div>
                  <form class="needs-validation" novalidate v-on:submit.prevent="login()" v-if="action==='login'">
                    <div class="mb-4">
                      <label class="form-label mb-2" for="signin-email">Email address</label>
                      <input class="form-control" type="email" v-model="message.email" id="signin-email" placeholder="Enter your email" required>
                    </div>
                    <div class="mb-4">
                      <div class="d-flex align-items-center justify-content-between mb-2">
                        <label class="form-label mb-0" for="signin-password">Password</label><a v-on:click="switchForget()" class="fs-sm" href="#">Forgot password?</a>
                      </div>
                      <div class="password-toggle">
                        <input class="form-control" v-model="message.password" type="password" id="signin-password" placeholder="Enter password" required>
                        <label class="password-toggle-btn" aria-label="Show/hide password">
                          <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                        </label>
                      </div>
                    </div>
                    <button class="btn btn-primary btn-lg rounded-pill w-100" type="submit">Sign in</button>
                    
                  </form>



                   <form class="needs-validation" novalidate v-on:submit.prevent="register()" v-if="action==='register'">
                    <div class="mb-4">
                      <label class="form-label mb-2" for="signin-email">Name</label>
                      <input class="form-control" type="text" v-model="message.name" id="signin-email" placeholder="Enter your name" required>
                    </div>
                     <div class="mb-4">
                      <label class="form-label mb-2" for="signin-email">Email address</label>
                      <input class="form-control" type="email" v-model="message.email" id="signin-email" placeholder="Enter your email" required>
                    </div>
                     <div class="mb-4">
                      <label class="form-label mb-2" for="signin-email">Phone</label>
                      <vue-tel-input v-model="message.phone" class="form-control" v-bind="bindProps"></vue-tel-input>
                    </div>
                    <div class="mb-4">
                      <div class="d-flex align-items-center justify-content-between mb-2">
                        <label class="form-label mb-0" for="signin-password">Password</label>
                      </div>
                      <div class="password-toggle">
                        <input class="form-control" v-model="message.password" type="password" id="signin-password" placeholder="Enter password" required>
                        <label class="password-toggle-btn" aria-label="Show/hide password">
                          <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                        </label>
                      </div>
                    </div>
                    <button class="btn btn-primary btn-lg rounded-pill w-100" type="submit">Sign in</button>
                    
                  </form>


                   <form class="needs-validation" novalidate v-on:submit.prevent="getOTP()" v-if="action==='forget'">
                    <div class="mb-4">
                      <label class="form-label mb-2" for="signin-email">Email address</label>
                      <input class="form-control" type="email" v-model="message.email" id="signin-email" placeholder="Enter your email" required>
                    </div>
                    <button class="btn btn-primary btn-lg rounded-pill w-100" type="submit">Get OTP</button>
                  </form>
                  <div v-if="error==='true'" class="alert alert-danger d-flex align-items-center mt-3" role="alert">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </svg>
  <div>
   {{error_message}}
  </div>
</div>
<div v-if="success==='true'" class="alert alert-success d-flex align-items-center mt-3" role="alert">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </svg>
  <div>
   {{success_message}}
  </div>
</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    </div>
</template>
<script>
import googleOneTap from 'google-one-tap';
    export default {
        data() {
            return {
                    bindProps: {
                mode: "international",
                disabledFetchingCountry: false,
                disabled: false,
                disabledFormatting: false,
                placeholder: "Enter a phone number",
                required: true,
                enabledCountryCode: true,
                enabledFlags: true,
                maxLen: 25,
                wrapperClasses: "",
                inputClasses: "",
                dropdownOptions: {
                    disabledDialCode: false
                },
                inputOptions: {
                    showDialCode: true
                }
               },
                proxyUrl: process.env.MIX_APP_URL,
                name:'',
                user_type:'',
                auth:'',
                email:'',
                pic:'',
                category:[],
                total:'0',
                cart:[],
                search:{},
                message:{data:[]},
                action:'login',
                error:'false',
                success:'false',
                error_message:'',
                success_message:'',
                 profile_info:{},
            }
        },
        mounted() {
         if(this.auth!=='yes') {
            const options = {
                client_id: '30173417980-1mr78rb4ietprqboovvm5j9hg3265fj2', // required
                auto_select: true, // optional
                cancel_on_tap_outside: false, // optional
                context: 'signin', // optional
            };
            googleOneTap(options, (response) => {
                // Send response to server
                // console.log(response);
                this.parseJwt(response.credential)
            });
        }

        this.$root.$on('showLoginModal', () => {
         this.showLoginModal();
        })
        this.$root.$on('updateInfo', () => {
         this.updateInfo2();
        })
        },
        created(){
          this.getIp();
             this.name=localStorage.getItem('name');
                this.auth=localStorage.getItem('auth');
                this.email=localStorage.getItem('email');
              this.pic=localStorage.getItem('pic');
        },
        watch:{
            '$route' (to, from) {
                this.name=localStorage.getItem('name');
                this.auth=localStorage.getItem('auth');
                this.email=localStorage.getItem('email');
              this.pic=localStorage.getItem('pic');
            }
        },

        methods: {
          updateUserIp(){
                let uri =this.proxyUrl+`api/auth/updateUserIp`;
                this.axios.post(uri, this.message).then((response) => {  
                }).catch(error => {
                   
                });

          },
          getIp(){
                let uri =`https://api.ipify.org/?format=json`;
                this.axios.get(uri).then((response) => {
                  this.message.ip_address=response.data.ip;
                    this.getTime();
                }).catch(error => {
                    
                });
          },
          getTime(){
                var today = new Date();
                var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
                // var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                var dateTime = date;
                this.message.date_time=dateTime;
                this.updateUserIp();
          },
           parseJwt (token) {
            var base64Url = token.split('.')[1];
            var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
            var jsonPayload = decodeURIComponent(atob(base64).split('').map(function (c) {
                return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
            }).join(''));
            this.profile_info=JSON.parse(jsonPayload);
            this.attemptLogin();
            console.log(this.profile_info);
        },
          updateInfo(){
                this.name=localStorage.getItem('name');
            this.auth=localStorage.getItem('auth');
            this.email=localStorage.getItem('email');
              this.pic=localStorage.getItem('pic');
            },
            updateInfo2(){
              this.$router.push({name: 'index'});
                this.name=localStorage.getItem('name');
            this.auth=localStorage.getItem('auth');
            this.email=localStorage.getItem('email');
              this.pic=localStorage.getItem('pic');
              setTimeout(() => {
               this.showLoginModal();
            }, 1000);
            },
            switchRegister(){
            this.action='register';
            },
            switchLogin(){
             this.action='login';
            },
            switchForget(){
                this.action='forget';
            },
            
            showLoginModal(){
                 $("#signin-modal").modal("show"); 
            },
            getOTP() {
               $('.modal-dialog').loader('show','<i class="fa  fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/forget`;
                this.axios.post(uri, this.message).then((response) => {
                     $('.modal-dialog').loader('hide');
                   
                    if(response.data.status){
                      this.success='true';
                        this.success_message=response.data.message
                        this.action='login';
                    }else{
                       this.error='true';
                        this.error_message=response.data.message
                        localStorage.removeItem('token')
                    }
                }).catch(error => {
                    $('.modal-dialog').loader('hide');
                   this.$toast.open({ message: "Something went wrong,please try again later!",type: "error", position: "top", });
                });

            },
            
            login() {
               this.error='false';
                $('.modal-dialog').loader('show','<i class="fa  fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/login`;
                this.axios.post(uri, this.message).then((response) => {
                    $('.modal-dialog').loader('hide');
                    if(response.data.status){
                        if(response.data.user.status==='ACTIVE') {
                             localStorage.setItem('token', response.data.access_token);
                            localStorage.setItem('name', response.data.user.name);
                            localStorage.setItem('pic', response.data.user.pic);
                             localStorage.setItem('email', response.data.user.email);
                             localStorage.setItem('phone', response.data.user.phone);
                            localStorage.setItem('auth', 'yes');
                            this.updateInfo();
                            $("#signin-modal").modal("hide"); 
                            this.$toast.open({message: 'You have signed in successfully!', type: 'success', position: 'top'});
                        }else{
                          this.error='true';
                          this.error_message='Unauthorized access'
                        }
                    }else{
                      this.error='true';
                          this.error_message=response.data.message
                    }
                }).catch(error => {
                    $('.modal-dialog').loader('hide');
                    this.error='true';
                    this.error_message='Something went wrong,please try again.'
                    localStorage.removeItem('token')
                });

            },
            register(){
                this.error='false';
                $('.modal-dialog').loader('show','<i class="fa  fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/signup`;
                this.axios.post(uri, this.message).then((response) => {
                    $('.modal-dialog').loader('hide');
                    if(response.data.status){
                        if(response.data.user.status==='ACTIVE') {
                             localStorage.setItem('token', response.data.access_token);
                            localStorage.setItem('name', response.data.user.name);
                            localStorage.setItem('pic', response.data.user.pic);
                             localStorage.setItem('email', response.data.user.email);
                             localStorage.setItem('phone', response.data.user.phone);
                            localStorage.setItem('auth', 'yes');
                            this.updateInfo();
                            $("#signin-modal").modal("hide"); 
                            this.$toast.open({message: 'You have signed in successfully!', type: 'success', position: 'top'});
                        }else{
                          this.error='true';
                          this.error_message='Unauthorized access'
                        }
                    }else{
                      this.error='true';
                          this.error_message=response.data.message
                    }
                }).catch(error => {
                    $('.modal-dialog').loader('hide');
                    this.error='true';
                    this.error_message='Something went wrong,please try again.'
                    localStorage.removeItem('token')
                });
            },
            loginWithGoogle () {
            this.$gAuth.signIn().then(GoogleUser => {
                console.log(GoogleUser);
                this.message.name=GoogleUser.getBasicProfile().getName();
                this.message.email=GoogleUser.getBasicProfile().getEmail();
                this.message.pic=GoogleUser.getBasicProfile().getImageUrl();
                this.attemptLogin2();
            })
                .catch(error => {
                    console.log(error);
                     this.error='true';
                    this.error_message='We are unable to log you in via google.'
                })
        },
        attemptLogin2(){
            $('.modal-dialog').loader('show','<i class="fa  fa-2x fa-spinner fa-spin"></i>');
            let uri =this.proxyUrl+`api/auth/attemptLogin`;
            this.axios.post(uri, this.message).then((response) => {
                $('.modal-dialog').loader('hide');
                 if(response.data.status){
                        if(response.data.user.status==='ACTIVE') {
                             localStorage.setItem('token', response.data.access_token);
                            localStorage.setItem('name', response.data.user.name);
                            localStorage.setItem('pic', response.data.user.pic);
                             localStorage.setItem('email', response.data.user.email);
                              localStorage.setItem('phone', response.data.user.phone);
                            localStorage.setItem('auth', 'yes');
                            this.updateInfo();
                            $("#signin-modal").modal("hide"); 
                            this.$toast.open({message: 'You have signed in successfully!', type: 'success', position: 'top'});
                        }else{
                          this.error='true';
                          this.error_message='Unauthorized access'
                        }
                    }else{
                      this.error='true';
                      this.error_message=response.data.message
                    }
            }).catch(error => {
                 $('.modal-dialog').loader('hide');
                localStorage.removeItem('token');
                this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
            });

        },
           attemptLogin(){
            this.profile_info.pic=this.profile_info.picture
            let uri =this.proxyUrl+`api/auth/attemptLogin`;
            this.axios.post(uri, this.profile_info).then((response) => {
                if(response.data.status){
                    if(response.data.user.status==='ACTIVE') {
                        if (response.data.user.user_type === 'user') {
                           localStorage.setItem('token', response.data.access_token);
                            localStorage.setItem('name', response.data.user.name);
                            localStorage.setItem('pic', response.data.user.pic);
                            localStorage.setItem('email', response.data.user.email);
                             localStorage.setItem('phone', response.data.user.phone);
                            localStorage.setItem('auth', 'yes');
                            this.updateInfo();
                        } else {

                        }
                    }else{

                    }
                }else{
                    this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                }
            }).catch(error => {

            });

        }, 
            logout() {
                localStorage.removeItem('token');
                localStorage.removeItem('auth');
                this.name=localStorage.getItem('name');
                this.user_type=localStorage.getItem('user_type');
                this.auth=localStorage.getItem('auth');
                this.item=localStorage.getItem('item');
                 this.$toast.open({ message: "You have logged out successfully.",type: "success", position: "top", });
                 this.$router.push({name: 'index'});

            },
            filter(){
            this.$root.$emit('filter',this.message.filterval);
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }
        }
    }
</script>
