<template>

        <aside class="col-lg-4 col-md-5 pe-xl-4 mb-5">
            <!-- Account nav-->
            <div class="card card-body border-0 shadow-sm pb-1 me-lg-1">
              <div class="d-flex d-md-block d-lg-flex align-items-start pt-lg-2 mb-4">
                  <img class="rounded-circle" :src="pic" width="48" alt="Annette Black">
                <div class="pt-md-2 pt-lg-0 ps-3 ps-md-0 ps-lg-3">
                  <h4 class="fs-lg mb-0">{{name}}</h4><span class="star-rating"><i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star-filled active"></i>
                  <i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star-filled active"></i></span>
                  <ul class="list-unstyled fs-sm mt-3 mb-0">
                    <li><a class="nav-link fw-normal p-0" href="tel:3025550107">
                        <i class="fi-phone opacity-60 me-2"></i>{{phone}}</a></li>
                    <li><a class="nav-link fw-normal p-0" href="#"><i class="fi-mail opacity-60 me-2">
                        </i>{{email}}</a></li>
                  </ul>
                </div>
              </div><a class="btn btn-primary btn-lg w-100 mb-3" href="/profile">
                  <i class="fi-edit me-2"></i>Edit prodile</a>
                  <a class="btn btn-outline-secondary d-block d-md-none w-100 mb-3" href="/profile" data-bs-toggle="collapse">
                      <i class="fi-align-justify me-2"></i>Menu</a>
              <div class="collapse d-md-block mt-3" id="account-nav">
                <div class="card-nav">
                    <router-link to="/home" class="card-nav-link " href="#"><i class="fa fa-print opacity-60 me-2"></i>Invoice</router-link>
                    <router-link to="/home" class="card-nav-link" href="#"><i class="fi-home opacity-60 me-2"></i>Licenses</router-link>
                   <router-link to="/profile" class="card-nav-link" href="#"><i class="fi-user opacity-60 me-2"></i>Profile</router-link>
                    <router-link to="/password" class="card-nav-link" href="#"><i class="fi-user opacity-60 me-2"></i>Password</router-link>
                    <a class="card-nav-link" v-on:click="logout()" href="#"><i class="fi-logout opacity-60 me-2"></i>Sign Out</a></div>
              </div>
            </div>
          </aside>

</template>
<script>
    export default {
        name: 'App',
        components: {
            
        },
        data(){
            return {
                 name:'',
                user_type:'',
                auth:'',
                email:'',
                phone:'',
                pic:'',
            }
        },
        created(){
              this.name=localStorage.getItem('name');
                this.auth=localStorage.getItem('auth');
                this.email=localStorage.getItem('email');
              this.pic=localStorage.getItem('pic');
              this.phone=localStorage.getItem('phone');
        },
        methods: {
           logout() {
                localStorage.removeItem('token');
                localStorage.removeItem('auth');
                this.name=localStorage.getItem('name');
                this.user_type=localStorage.getItem('user_type');
                this.auth=localStorage.getItem('auth');
                this.item=localStorage.getItem('item');
                 this.$toast.open({ message: "You have logged out successfully.",type: "success", position: "top", });
                 this.$router.push({name: 'index'});

            },  

        },

    }

</script>