/* .container {
    max-width: 900px;
    margin: 20px auto;
    overflow: hidden;
    background-color: #f8f9fa
} */

.box-1 {
    max-width: 450px;
    padding: 10px 40px;
    user-select: none
}

.box-1 div .fs-12 {
    font-size: 8px;
    color: white
}

.box-1 div .fs-14 {
    font-size: 15px;
    color: white
}

.box-1 img.pic {
    width: 20px;
    height: 20px;
    object-fit: cover
}

.box-1 img.mobile-pic {
    width: 100%;
    height: 200px;
    object-fit: cover
}

.box-1 .name {
    font-size: 11px;
    font-weight: 600
}

.dis {
    font-size: 12px;
    font-weight: 500
}

label.box {
    width: 100%;
    font-size: 12px;
    background: #ddd;
    margin-top: 12px;
    padding: 10px 12px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid transparent
}

label.box .course {
    width: 100%
}

label.box .circle {
    height: 12px;
    width: 12px;
    background: #ccc;
    border-radius: 50%;
    margin-right: 15px;
    border: 4px solid transparent;
    display: inline-block
}

input[type="radio"] {
    display: none
}

.box-2 {
    max-width: 450px;
    padding: 10px 40px
}

.box-2 .box-inner-2 input.form-control {
    font-size: 12px;
    font-weight: 600
}

.box-2 .box-inner-2 .inputWithIcon {
    position: relative
}

.box-2 .box-inner-2 .inputWithIcon span {
    position: absolute;
    left: 15px;
    top: 8px
}

.box-2 .box-inner-2 .inputWithcheck {
    position: relative
}

.box-2 .box-inner-2 .inputWithcheck span {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
    font-size: 12px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 15px;
    top: 6px
}

.box-2 .card-atm .form-control {
    border: none;
    box-shadow: none
}

.form-select {
    border-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}

.address .form-control.zip {
    border-radius: 0;
    border-bottom-left-radius: 10px
}

.address .form-control.state {
    border-radius: 0;
    border-bottom-right-radius: 10px
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%
}

.carousel-inner {
    width: 100%;
    height: 250px
}

.carousel-item img {
    object-fit: cover;
    height: 100%
}

.carousel-control-prev {
    transform: translateX(-50%);
    opacity: 1
}

.carousel-control-prev:hover .fas.fa-arrow-left {
    transform: translateX(-5px)
}

.carousel-control-next {
    transform: translateX(50%);
    opacity: 1
}

.carousel-control-next:hover .fas.fa-arrow-right {
    transform: translateX(5px)
}

.fas.fa-arrow-left,
.fas.fa-arrow-right {
    font-size: 0.8rem;
    transition: all .2s ease
}


/* .icon {
    width: 30px;
    height: 30px;
    background-color: #f8f9fa;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform-origin: center;
    opacity: 1
} */


/* .fas,
.fab {
    color: #6d6c6d
}

::placeholder {
    font-size: 12px
} */


/* 
@media (max-width:768px) {
    .container {
        max-width: 700px;
        margin: 10px auto
    }
    .box-1,
    .box-2 {
        max-width: 600px;
        padding: 20px 90px;
        margin: 20px auto
    }
}

@media (max-width:426px) {
    .box-1,
    .box-2 {
        max-width: 400px;
        padding: 20px 10px
    }
     ::placeholder {
        font-size: 9px
    }
} */