<template>
    <div class="mt-5">
      <div class="container bootdey">
<div class="row invoice row-printable justify-content-center">
    <div class="col-md-8">
        <!-- col-lg-12 start here -->
        <div class="block product no-border z-depth-2-top z-depth-2--hover">
            <!-- Start .panel -->
            <div class="card-body p30">
                <div class="row justify-content-center">
                    <!-- Start .row -->
                    <div class="col-lg-6">
                        <!-- col-lg-6 start here -->
                        <div class="invoice-logo"><img width="100"  :src="proxyUrl+'storage/Product/'+product.url" alt="Invoice logo"></div>
                    </div>
                    <!-- col-lg-6 end here -->
                    <div class="col-lg-6">
                        <!-- col-lg-6 start here -->
                        <div class="invoice-from">
                            <ul class="list-unstyled text-right">
                                <li>Detaline Ventures</li>
                                <li>Business Telephony, ATM Management & Access Management, Cyber Security & Computer Forensics</li>
                                <li>sales@detalineventures.com</li>
                                <li>+254-777-95-9188</li>
                            </ul>
                        </div>
                    </div>
                    <!-- col-lg-6 end here -->
                    <div class="col-lg-12">
                        <!-- col-lg-12 start here -->
                        <div class="invoice-details mt25">
                            <div class="well">
                                <ul class="list-unstyled mb0">
                                    <li><strong>Invoice:</strong> {{invoice.invoice_no}}</li>
                                    <li><strong>Invoice Date:</strong> {{invoice.created_at}}</li>
                                    <li><strong>Due Date:</strong> NA</li>
                                    <li v-if="invoice.status==='PENDING'"><strong>Status:</strong> <span class="label label-danger text-danger">{{invoice.status}}</span></li>
                                    <li v-else><strong>Status:</strong> <span class="label label-danger text-success">{{invoice.status}}</span></li>
                                </ul>
                            </div>
                        </div>


                        <div class="container content-loader">
                                    <!-- Buttons container -->
                                    <table border="0" align="center" valign="top" bgcolor="#FFFFFF" style="width:80%">
                                        <tr>
                                            <td colspan="2">
                                                <div id="paypal-button-container"></div>
                                            </td>
                                        </tr>
                                        <tr><td colspan="2">&nbsp;</td></tr>
                                    </table>

                                    <div align="center"> or </div>

                                    <!-- Advanced credit and debit card payments form -->
                                    <div class='card_container'>
                                        <form id='my-sample-form'>
                                            <label for='card-number'>Card Number</label><div id='card-number' class='card_field'></div>
                                            <div>
                                                <label for='expiration-date'>Expiration Date</label><div id='expiration-date' class='card_field'></div>
                                            </div>
                                            <div>
                                                <label for='cvv'>CVV</label><div id='cvv' class='card_field'></div>
                                            </div>
                                            <label for='card-holder-name'>Name on Card</label><input type='text' id='card-holder-name' name='card-holder-name' autocomplete='off' placeholder='card holder name'/>
                                            <div>
                                                <label for='card-billing-address-street'>Billing Address</label><input type='text' id='card-billing-address-street' name='card-billing-address-street' autocomplete='off' placeholder='street address'/>
                                            </div>
                                            <div>
                                                <label for='card-billing-address-unit'>&nbsp;</label><input type='text' id='card-billing-address-unit' name='card-billing-address-unit' autocomplete='off' placeholder='unit'/>
                                            </div>
                                            <div>
                                                <input type='text' id='card-billing-address-city' name='card-billing-address-city' autocomplete='off' placeholder='city'/>
                                            </div>
                                            <div>
                                                <input type='text' id='card-billing-address-state' name='card-billing-address-state' autocomplete='off' placeholder='state'/>
                                            </div>
                                            <div>
                                                <input type='text' id='card-billing-address-zip' name='card-billing-address-zip' autocomplete='off' placeholder='zip / postal code'/>
                                            </div>
                                            <div>
                                                <input type='text'  id='card-billing-address-country' name='card-billing-address-country' autocomplete='off' placeholder='country code' />
                                            </div>
                                            <br><br>
                                            <button value='submit' id='submit' class='btn'>Pay</button>
                                        </form>
                                    </div>
                                </div>
                        
                                     <div class="invoice-items">
                            <div class="table-responsive" style="overflow: hidden; outline: none;" tabindex="0">
                                <table class="table table-bordered">
                                   
                                    <tfoot>
                                        <tr>
                                            <th colspan="2" class="text-right">Sub Total:</th>
                                            <th class="text-center">${{formatPrice(product.price)}}</th>
                                        </tr>
                                        <tr>
                                            <th colspan="2" class="text-right">0% VAT:</th>
                                            <th class="text-center">$0.00</th>
                                        </tr>
                                        <tr>
                                            <th colspan="2" class="text-right">Credit:</th>
                                            <th class="text-center">$00.00</th>
                                        </tr>
                                        <tr>
                                            <th colspan="2" class="text-right">Total:</th>
                                            <th class="text-center">${{formatPrice(product.price)}}</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                                     </div>
                       
                        <div class="invoice-footer mt25">
                            <p class="text-center">NB:You can also make a payment by bank transfer. Please live chat an agent for assistance.</p>
                           
                       
                        </div>
                    </div>
                    <!-- col-lg-12 end here -->
                </div>
                <!-- End .row -->
            </div>
        </div>
        <!-- End .panel -->
    </div>
    <!-- col-lg-12 end here -->
</div>
</div>
    </div>
</template>
<script>
export default {
    data() {
        return {

            proxyUrl: process.env.MIX_APP_URL,
            invoice:{},
            product:{},
            user:{},
            message:{},
            paypal_access_token:'',
            paypal_client_token_url:'',
            client_id:'',
        }
    },
    created(){
        this.getInvoiceData();
    },

    methods: {
        getInvoiceData(){
            this.$loading(true)
            let uri =this.proxyUrl+`api/auth/getInvoiceData/${this.$route.params.id}`;
            this.axios.get(uri, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
               this.$loading(false)
               this.invoice=response.data.invoice;
                this.product=response.data.product;
                this.user=response.data.user;
                this.payPalcheckout();
            }).catch(error => {
                this.$loading(false)
                if (error.response.status === 401) {
                    this.$root.$emit('updateInfo')
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },
        payPalcheckout(){
           this.$loading(true)
            let uri =this.proxyUrl+`api/auth/payPalcheckout`;
            this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
               this.$loading(false)
               this.paypal_access_token=response.data.paypal_access_token;
                this.paypal_client_token_url=response.data.paypal_client_token_url;
                this.client_id=response.data.client_id;
                this.get_client_token();
            }).catch(error => {
              this.$loading(false)
                if (error.response.status === 401) {
                   this.$root.$emit('updateInfo')
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }

            });
        },
        get_client_token(){
            this.$loading(true)
            let uri =this.paypal_client_token_url;
            this.axios.post(uri, this.message ,{ headers: { Authorization: this.paypal_access_token,AcceptLanguage:'en_US' } }).then((response) => {
                this.client_token = response.data.client_token;
                this.setPage();
            }).catch(error => {
               this.$loading(false)
                this.$toast.open({message: 'Invalid access token!', type: 'error', position: 'top'});

            });
        },
        setPage(){
            this.$loading(true)
            var scriptTag = document.createElement("script"); scriptTag.type = "text/javascript";
            scriptTag.src = "https://www.paypal.com/sdk/js?components=hosted-fields,buttons&client-id="+this.client_id;
            scriptTag.setAttribute("data-client-token", this.client_token);
            ( document.getElementsByTagName("head")[0] || document.documentElement ).appendChild( scriptTag );

            setTimeout(() => {
                this.loadPage();
               this.$loading(false)
            }, 3000);
            setTimeout(function(){
                this.$loading(false)
            }, 3000);
        },
        upDateStatus(){
           this.$loading(true)
            let uri =this.proxyUrl+`api/auth/orderStatus/${this.$route.params.id}`;
            this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
               this.$loading(false)
                if(response.data.status){
                    this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                    setTimeout(() => {  this.$router.push({name: 'index'}); }, 3000);

                }else{
                    this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                }
            }).catch(error => {
               this.$loading(false)
                if (error.response.status === 401) {
                    this.$root.$emit('updateInfo')
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }

            });
        },
        loadPage(){
            let vm = this;
            paypal.Buttons({
                commit: false,
                createOrder: function (data, actions) {
                    // This function sets up the details of the transaction, including the amount and line item details
                    return actions.order.create({
                        purchase_units: [{
                            amount: {
                                value: vm.invoice.price,
                            }
                        }]
                    });
                },
                onCancel: function (data) {
                    // Show a cancel page, or return to cart
                },
                onApprove: function (data, actions) {
                    // This function captures the funds from the transaction
                    return actions.order.capture().then(function (details) {
                        // This function shows a transaction success message to your buyer
                        if(details.status==='COMPLETED') {
                            vm.flag2='false';
                            vm.$toast.open({message: 'Transaction completed, please wait....', type: 'success', position: 'top'});
                            vm.message.paypal_trans_id = details.id;
                            vm.message.payer_email = details.payer.email_address;
                            vm.message.given_name = details.payer.name.given_name;
                            vm.message.surname = details.payer.name.surname;
                            vm.message.payer_id = details.payer.payer_id;
                            vm.message.trans_status = details.status;
                            vm.message.update_time = details.update_time;
                            vm.message.country_code = details.payer.address.country_code;
                            vm.message.paypal_amount = vm.invoice.price;
                            vm.message.method='PAYPAL';
                            vm.upDateStatus();
                        }else{
                            vm.$toast.open({message: 'Something went wrong,please try again!', type: 'error', position: 'top'});
                        }
                    });
                },
                style: {
                    color:  'blue',
                    shape:  'pill',
                    label:  'pay',
                    height: 40
                }
            }).render('#paypal-button-container');
// Eligibility check for advanced credit and debit card payments
            if (paypal.HostedFields.isEligible()) {
                paypal.HostedFields.render({
                    createOrder: function () {
                        return "order-ID";
                    }, // replace order-ID with the order ID
                    styles: {
                        'input': {
                            'font-size': '17px',
                            'font-family': 'helvetica, tahoma, calibri, sans-serif',
                            'color': '#3a3a3a'
                        },
                        ':focus': {
                            'color': 'black'
                        }
                    },
                    fields: {
                        number: {
                            selector: '#card-number',
                            placeholder: 'card number'
                        },
                        cvv: {
                            selector: '#cvv',
                            placeholder: 'card security number'
                        },
                        expirationDate: {
                            selector: '#expiration-date',
                            placeholder: 'mm/yy'
                        }
                    }
                }).then(function (hf) {
                    $('#my-sample-form').submit(function (event) {
                        event.preventDefault();
                        hf.submit({
                            // Cardholder Name
                            cardholderName: document.getElementById('card-holder-name').value,
                            // Billing Address
                            billingAddress: {
                                streetAddress: document.getElementById('card-billing-address-street').value,      // address_line_1 - street
                                extendedAddress: document.getElementById('card-billing-address-unit').value,       // address_line_2 - unit
                                region: document.getElementById('card-billing-address-state').value,           // admin_area_1 - state
                                locality: document.getElementById('card-billing-address-city').value,          // admin_area_2 - town / city
                                postalCode: document.getElementById('card-billing-address-zip').value,           // postal_code - postal_code
                                countryCodeAlpha2: document.getElementById('card-billing-address-country').value   // country_code - country
                            }
                            // redirect after successful order approval
                        }).then(function () {
                            window.location.replace('http://www.somesite.com/review');
                        }).catch(function (err) {
                            console.log('error: ', JSON.stringify(err));
                            document.getElementById("consoleLog").innerHTML = JSON.stringify(err);
                        });
                    });
                });
            } else {
                $('#my-sample-form').hide();  // hides the advanced credit and debit card payments fields if merchant isn't eligible
            }
        },
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        },


    }
}
</script>
