<template>
    <div>
         <section class="container mb-5 mt-n3 mt-lg-5">
        <div class="tns-carousel-wrapper tns-nav-outside tns-nav-outside-flush mx-n2">
          <div class="row gx-4 mx-0 py-3" >
            <div class="col-sm-3 mb-2" v-for="data in cat" :key="data.id">
              <div class="card card-hover border-0 h-100 pb-2 pb-sm-3 px-sm-3 text-center">
                  <img class="d-block mx-auto my-3" :src="proxyUrl+'storage/Category/'+data.url" width="200"  alt="Illustration">
                <div class="card-body">
                  <h2 class="h4 card-title text-primary">{{data.name}}</h2>
                  <p class="card-text fs-sm">{{data.description}}</p>
                </div>
                <div class="card-footer pt-0 border-0">
                    <a class="btn btn-outline-primary stretched-link" v-on:click="products_category(data.id)" href="#">Find products</a></div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
</template>
<script>
    export default {
        name: 'App',
        components: {

        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                books:{},
                loader:'false',
                cat:[],
            }
        },
        created(){
            this.getCategories();
            // this.getData();
        },
        methods: {
          products_category(id){
                this.$router.push({name: 'products_category', params: { id: id }});
                this.$root.$emit('shop_category')
            },
            getCategories(){
                this.$loading(true)
            let uri =this.proxyUrl+`api/auth/getCategories`;
            this.axios.get(uri, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
               this.$loading(false)
               this.cat=response.data.cat;
            }).catch(error => {
               this.$loading(false)
                if (error.response.status === 401) {
                    clearSession();
                     this.$root.$emit('updateInfo')
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },
            getData() {
                let uri =this.proxyUrl+`getClientIndexPage`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.books=response.data.books;
                }).catch(error => {

                });

            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }

        },
    }

</script>

