<template>
    <div class="container">
        <div class="row mt-5">
            <Nav></Nav>
         <div class="col-lg-8 col-md-7 mb-5">
 <div class="block product no-border z-depth-2-top z-depth-2--hover p-2">
      <div class="table-responsive">
                                            <table class="table table-striped table-sm">
                                                <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Invoice</th>
                                                    <th>Price</th>
                                                    <th>Products</th>
                                                    <th>Product</th>
                                                    <th>Status</th>
                                                    <th>License</th>
                                                    <th>Ref</th>
                                                    <th>Date</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr v-for="(data,index) in invoices" :key="data.id">
                                                    <td>{{index+1}}</td>
                                                    <td>{{data.invoice_no}}</td>
                                                    <td>$.{{formatPrice(data.price)}}</td>
                                                    <td>{{data.count}}</td>
                                                    <td><router-link :to="{name:'invoice',params:{id:data.id}}">{{data.product_name}}</router-link></td>
                                                    <td v-if="data.status==='PENDING'" class="text-danger">{{data.status}}</td>
                                                    <td v-else class="text-success">{{data.status}}</td>

                                                    <td v-if="data.disbursement==='PENDING'" class="text-danger"></td>
                                                    <td v-else class="text-success"><a v-on:click="downloadLicense(data.id)" href="#">Download...<i class="fa fa-download"></i></a></td>
                                                    <td>{{data.payment_id}}</td>
                                                    <td>{{data.updated_at}}</td>
                                                    <td v-if="data.status==='PENDING'"><a v-on:click="showConfirmModal(data.id,data.invoice_no)" href="#" class="text-danger" ><i class="fa fa-trash"></i></a></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                                </div>

 </div>
         </div>

    </div>

    <div class="modal fade" id="mpesa" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center border-0">
                        <div class="w-100 pt-4">
                            <h5 class="h3">Confirm</h5>
                            <div>Delete invoice</div>
                        </div>
                       
                    </div>
                    <div class="modal-body px-md-4 px-lg-5 pb-4 pb-lg-5">
                        <h5>Are you sure you want to delete invoice {{message.invoice_no}} ?</h5>

                     <button  class="btn btn-primary btn-block" type="button" v-on:click="deleteInvoice()">Delete</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import  Nav from '../view/nav'
    export default {
        name: 'App',
        components: {
            Nav
        },
        data(){
            return {
                name:'',
            proxyUrl: process.env.MIX_APP_URL,
            invoices:[],
            message:{invoice_id:'',invoice_no:''},
            }
        },
        created(){
              this.getMyProducts();
        },
        methods: {
          showConfirmModal(id,invoice_no){
            this.message.invoice_id=id;
            this.message.invoice_no=invoice_no;
            $('#mpesa').modal('show');
        },
        downloadLicense(id){
            this.$loading(true)
            let uri =this.proxyUrl+`api/auth/downloadLicense/${id}`;
            this.axios.get(uri, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                 this.$loading(false)
                if(response.data.status){
                    this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                }else{
                    this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                }
            }).catch(error => {
                 this.$loading(false)
                if (error.response.status === 401) {
                    this.$root.$emit('updateInfo')
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },
        deleteInvoice(){
            $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            let uri =this.proxyUrl+`api/auth/deleteInvoice/${this.message.invoice_id}`;
            this.axios.get(uri, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                $('.modal-content').loader('hide');
                if(response.data.status){
                    $('#mpesa').modal('hide');
                    this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                    this.getMyProducts();
                }
            }).catch(error => {
                $('.modal-content').loader('hide');
                if (error.response.status === 401) {
                     this.$root.$emit('updateInfo')
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },
        getMyProducts(){
             this.$loading(true)
            let uri =this.proxyUrl+`api/auth/getMyProducts`;
            this.axios.get(uri, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                 this.$loading(false)
                this.invoices=response.data.invoices;
            }).catch(error => {
                 this.$loading(false)
                if (error.response.status === 401) {
                    this.$root.$emit('updateInfo')
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        } 
             

        },

    }

</script>
