<template>
    <div>
      <!-- Hero-->
      <section class="container mt-5">
        <div class="row justify-content-center align-items-center mt-md-2">
          <div class="col-lg-4 order-lg-2 ">
           

<div class="block product no-border z-depth-2-top z-depth-2--hover">
                    <div class="block-image">
                        <a href="#">
                            <img :src="proxyUrl+'storage/Product/'+product.url" class="img-center" alt="loading...">
                        </a>
                    </div>
                    <div class="block-body text-center">
                        <h3 class="heading heading-5 strong-600 text-capitalize">
                            <!-- <a href="#">
                                Google Home Base
                            </a> -->
                        </h3>
                        <p class="product-description text-primary">
                            {{product.name}}
                        </p>
                        <div class="row align-items-center justify-content-center text-center mt-3">
                            <div class="col-sm-6 text-center">
                                <div class="d-flex">
                                <p class="mr-3">$.{{formatPrice(product.price)}}</p>
                                <p><del>$.{{formatPrice((product.price * 30/100)+ +product.price)}}</del></p>
                             </div>
                            </div>
                             
                        </div>
                        <div class="product-buttons mt-4">
                            <div class="row align-items-center">
                                <div class="col-6">
                                   <share-it :icons="true" :targets="['whatsapp', 'facebook']" :text="'Reliable system for license sales.Buy  '+product.name+' here'" :url="'https://www.licensesourcing.com/product/'+product.uuid"  />
                                </div>
                               
                                <div class="col-6">
                                    <button v-on:click="routeToBuy(product.uuid)" type="button" class="btn btn-block btn-outline-primary btn-circle btn-icon-left">
                                        <i class="fa fa-shopping-cart mr-5"></i>Buy
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
          <div class="col-lg-7 order-lg-1 ">
            <h1 class="display- mb-4 me-lg-n5 text-lg-start text-center mb-4">Buy software License <span class="dropdown d-inline-block">
                <a class="dropdown-toggle text-decoration-none" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">and IT Support</a>
                <span class="dropdown-menu dropdown-menu-end my-1"><a class="dropdown-item fs-base fw-bold" href="#"></a>
                <a class="dropdown-item fs-base fw-bold" href="#"></a><a class="dropdown-item fs-base fw-bold" href="#"></a>
                <a class="dropdown-item fs-base fw-bold" href="#"></a><a class="dropdown-item fs-base fw-bold" href="#"></a></span></span></h1>
            <p class="text-lg-start text-center mb-4 mb-lg-5 fs-lg">Licensesourcing is the number one market place for cybersecurity needs and technical support .Typically you will receive your license within 2 to 24 working hours. </p>
            <!-- Search form-->
            <div class="me-lg-n5">
              <form class="form-group d-block d-md-flex position-absolute rounded-md-pill me-lg-n5">
                <div class="input-group input-group-lg border-end-md"><span class="input-group-text text-muted rounded-pill ps-3"><i class="fi-search"></i></span>
                  <input class="form-control" type="text" placeholder="What are you looking for?">
                </div>
                <hr class="d-md-none my-2">
                <div class="d-sm-flex">
                  
                  <router-link to="/products" class="btn btn-primary btn-lg rounded-pill w-100 w-md-auto ms-sm-3" 
                  type="button">Purchase now</router-link>
                </div>
              </form>
            </div>
          </div>
        </div>
        
      </section>
      
 <section class="container">
        <div class="tns-carousel-wrapper tns-nav-outside tns-nav-outside-flush mx-n2">
          <div class="row gx-4 mx-0 py-3" >
            <div class="col-sm-3 mb-2" v-for="data in cat" :key="data.id">
              <div class="card card-hover border-0 h-100 pb-2 pb-sm-3 px-sm-3 text-center">
                  <img class="d-block mx-auto my-3" :src="proxyUrl+'storage/Category/'+data.url" width="200"  alt="loading...">
                <div class="card-body">
                  <h2 class="h4 card-title text-primary">{{data.name}}</h2>
                  <p class="card-text fs-sm">{{data.description}}</p>
                </div>
                <div class="card-footer pt-0 border-0">
                    <a class="btn btn-outline-primary stretched-link" v-on:click="products_category(data.id)" href="#">Find products</a></div>
              </div>
            </div>
          </div>
        </div>
      </section>

     <section class="container mb-5 pb-2 pb-lg-5">
        <div class="row align-items-lg-center gy-4">
          <div class="col-md-6"><img class="rounded-3" src="/logo/logo2.png" alt="Cover" style="opacity:0.5;"></div>
          <div class="col-lg-5 offset-lg-1 col-md-6">
            
            <h2>We’re here to help</h2>
            <p>If you have not received any codes or if they are defective, please contact the seller directly or use the complaint system to which we attach the code with the email address. Submissions submitted via the contact form will remain unanswered..</p>
            <router-link to="/products" class="btn btn-lg btn-primary rounded-pill" href="#"><i class="fa fa-shopping-cart me-2"></i>Shop now</router-link>
          </div>
        </div>
      </section>


              <section class="container py-5 mt-5 mb-lg-2">
<div class="container">
    
        
    <div class="shop-default shop-cards shop-tech mt-3">
        <div class="row">
            <div class="col-md-3 mb-3" v-for="data in products" :key="data.id">
                <div class="block product no-border z-depth-2-top z-depth-2--hover">
                    <div class="block-image" v-on:click="routeToBuy(data.uuid)">
                        <a href="#">
                            <img :src="proxyUrl+'storage/Product/'+data.url" class="img-center">
                        </a>
                    </div>
                    <div class="block-body text-center">
                        <h3 class="heading heading-5 strong-600 text-capitalize">
                            <!-- <a href="#">
                                Google Home Base
                            </a> -->
                        </h3>
                        <p class="product-description text-primary">
                            {{data.name}}
                        </p>
                        <div class="row align-items-center justify-content-center text-center mt-3">
                            <div class="col-sm-6 text-center">
                                <div class="d-flex">
                                <p class="mr-3">$.{{formatPrice(data.price)}}</p>
                                <p><del>$.{{formatPrice((data.price * 30/100)+ +data.price)}}</del></p>
                             </div>
                            </div>
                             
                        </div>
                        <div class="product-buttons mt-4">
                            <div class="row align-items-center">
                                <div class="col-6">
                                   <share-it :icons="true" :targets="['whatsapp', 'facebook']" :text="'Reliable system for license sales.Buy  '+data.name+' here'" :url="'https://www.licensesourcing.com/product/'+data.uuid"  />
                                </div>
                               
                                <div class="col-6">
                                    <button v-on:click="routeToBuy(data.uuid)" type="button" class="btn btn-block btn-outline-primary btn-circle btn-icon-left">
                                        <i class="fa fa-shopping-cart mr-5"></i>Buy
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
</div>
        </section>
      
    </div>
</template>
<script>
    export default {
        name: 'App',
        components: {

        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                products:[],
                loader:'false',
                cat:[],
                product:{},
            }
        },
        created(){
             this.getFewProducts();
            this.getCategories();
        },
        methods: {
          products_category(id){
                this.$router.push({name: 'products_category', params: { id: id }});
                this.$root.$emit('shop_category')
            },
            getCategories(){
            let uri =this.proxyUrl+`api/auth/getCategories`;
            this.axios.get(uri, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                this.cat=response.data.cat;
            }).catch(error => {
                $('.modal-content').loader('hide');
                if (error.response.status === 401) {
                    clearSession();
                     this.$root.$emit('updateInfo')
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },
        routeToBuy(uuid){
            this.$router.push({name: 'product',params:{id:uuid}});
        },
        startInterval(){
            var count=0;
        this.interval = setInterval(() =>{
           var n=this.products.length-1;
           if(n!=count){
              count=count+1;
              this.changeProduct(count);
           }else{
               this.startInterval();
           }
           

        },10000)
        },
        changeProduct(count){
            console.log(count)
         this.product=this.products[+count];
        },
        getFewProducts(){
            let uri =this.proxyUrl+`api/auth/getFewProducts`;
            this.axios.get(uri, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                this.products=response.data.products;
                this.product=response.data.products[0];
            //    this.startInterval();
                
            }).catch(error => {
                $('.modal-content').loader('hide');
                if (error.response.status === 401) {
                  clearSession();
                     this.$root.$emit('updateInfo')
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }

        },
    }

</script>

