<template>
    <div class="mt-5">
      <div class="container bootdey">
<div class="row invoice row-printable justify-content-center">
    <div class="col-md-8">
        <!-- col-lg-12 start here -->
        <div class="block product no-border z-depth-2-top z-depth-2--hover">
            <!-- Start .panel -->
            <div class="card-body p30">
                <div class="row justify-content-center">
                    <!-- Start .row -->
                    <div class="col-lg-6">
                        <!-- col-lg-6 start here -->
                        <div class="invoice-logo"><img width="100"  :src="proxyUrl+'storage/Product/'+product.url" alt="Invoice logo"></div>
                    </div>
                    <!-- col-lg-6 end here -->
                    <div class="col-lg-6">
                        <!-- col-lg-6 start here -->
                        <div class="invoice-from">
                            <ul class="list-unstyled text-right">
                                <li>Detaline Ventures</li>
                                <li>Business Telephony, ATM Management & Access Management, Cyber Security & Computer Forensics</li>
                                <li>sales@detalineventures.com</li>
                                <li>+254-777-95-9188</li>
                            </ul>
                        </div>
                    </div>
                    <!-- col-lg-6 end here -->
                    <div class="col-lg-12">
                        <!-- col-lg-12 start here -->
                        <div class="invoice-details mt25">
                            <div class="well">
                                <ul class="list-unstyled mb0">
                                    <li><strong>Invoice:</strong> {{invoice.invoice_no}}</li>
                                    <li><strong>Invoice Date:</strong> {{invoice.created_at}}</li>
                                    <li><strong>Due Date:</strong> NA</li>
                                    <li v-if="invoice.status==='PENDING'"><strong>Status:</strong> <span class="label label-danger text-danger">{{invoice.status}}</span></li>
                                    <li v-else><strong>Status:</strong> <span class="label label-danger text-success">{{invoice.status}}</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="invoice-to mt25">
                            <ul class="list-unstyled">
                                <li><strong>Invoiced To</strong></li>
                                <li>{{user.name}}</li>
                                <li>{{user.email}}</li>
                                <li>{{user.phone}}</li>
                                <li>{{user.status}}</li>
                            </ul>
                        </div>
                        <div class="invoice-items">
                            <div class="table-responsive" style="overflow: hidden; outline: none;" tabindex="0">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="per70 text-center">Description</th>
                                            <th class="per5 text-center">Qty</th>
                                            <th class="per25 text-center">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{product.name}}</td>
                                            <td class="text-center">{{invoice.count}}</td>
                                            <td class="text-center"> ${{formatPrice(invoice.price)}}</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="2" class="text-right">Sub Total:</th>
                                            <th class="text-center">${{formatPrice(invoice.price)}}</th>
                                        </tr>
                                        <tr>
                                            <th colspan="2" class="text-right">0% VAT:</th>
                                            <th class="text-center">$0.00</th>
                                        </tr>
                                        <tr>
                                            <th colspan="2" class="text-right">Credit:</th>
                                            <th class="text-center">$00.00</th>
                                        </tr>
                                        <tr>
                                            <th colspan="2" class="text-right">Total:</th>
                                            <th class="text-center">${{formatPrice(invoice.price)}}</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="invoice-footer mt25">
                            <p class="text-center">NB:You can also make a payment by bank transfer. Please live chat an agent for assistance.</p>
                            <p class="text-center">Please select mode of payment <a href="#" class="btn btn-default ml15"><i class="fa fa-print mr5"></i> Print</a></p>
                       <div class=" d-flex justify-content-center" v-if="invoice.status==='PENDING'">

                                    <router-link :to="{name:'card',params:{id:invoice.id}}"  class="paypal-button mr-3"><span class="paypal-button-title">Card/</span>
                                        <span class="paypal-logo"><i>Pay</i><i>Pal</i></span>
                                    </router-link>
                                        <a v-on:click="showMpesaModal()"  id="mpesaBtn" class="mpesaButton ml-3"><img style="width: 35px; display: inline; margin: -8px;" src= "/images/mpesa.png"><span style="margin-left: 15px;"> M-pesa</span></a>
                                </div>
                        </div>
                    </div>
                    <!-- col-lg-12 end here -->
                </div>
                <!-- End .row -->
            </div>
        </div>
        <!-- End .panel -->
    </div>
    <!-- col-lg-12 end here -->
</div>
</div>

<!-- Sign In Modal-->
      <div class="modal fade" id="mpesa" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered p-2 my-0 mx-auto" style="max-width: 950px;">
          <div class="modal-content">
            <div class="modal-body px-0 py-2 py-sm-0">
              <button class="btn-close position-absolute top-0 end-0 mt-3 me-3" type="button" data-bs-dismiss="modal"></button>
   <div class="row mx-0 align-items-center">
                <div class="col-md-6 border-end-md p-4 p-sm-5">
                  <h2 class="h3 mb-4 mb-sm-5">Pay {{invoice.invoice_no}}!<br>Using M-pesa.</h2>
                  <img class="d-block mx-auto" src="/images/mpesa2.png" width="344" alt="Illustartion">
                </div>
                 <div class="col-md-6 px-4 pt-2 pb-4 px-sm-5 pb-sm-5 pt-md-5">
<form class="needs-validation" novalidate v-on:submit.prevent="initiateSTK()">
                    <div class="mb-4">
                      <label class="form-label mb-2" for="signin-email">Amount(Ksh.)</label>
                      <input class="form-control" type="text" v-model="message.amount" id="signin-email" placeholder="Enter amount" required disabled>
                    </div>
                    <div class="mb-4">
                     
                        <label class="form-label mb-0" for="signin-password">Phone</label>
                       <vue-tel-input v-model="message.phone" class="form-control" v-bind="bindProps"></vue-tel-input>
        
                    </div>
                    <div class="container mt-1" v-if="showAlert==='true'">
                                <div class="alert alert-info" role="alert">
                                    <h6 class="alert-heading text-center">Success! Enter M-pesa Pin</h6>
                                    <p class="text-center">Trying to detect payment. Please just wait.... <i class="fa  fa-2x fa-spinner fa-spin" aria-hidden="true"></i></p>
                                    <!--<p>Once you receive M-pesa confirmation, <a href="#">Please click here</a></p>-->
                                </div>
                            </div>
                            <div class="container mt-1" v-if="showAlert==='success'">
                                <div class="alert alert-success" role="alert">
                                    <h6 class="alert-heading text-center">{{message.mpesa_ref}} <i class="fa fa-check"></i></h6>
                                    <p class="text-center">Payment detected successfully.</p>
                                    <!--<p>Once you receive M-pesa confirmation, <a href="#">Please click here</a></p>-->
                                </div>
                            </div>
                            <div class="container mt-1" v-if="showAlert==='error'">
                                <div class="alert alert-danger" role="alert">
                                    <h6 class="alert-heading text-center">Cancelled <i class="fa fa-check"></i></h6>
                                    <p class="text-center">Unfortunately!User cancelled payment.</p>
                                    <!--<p>Once you receive M-pesa confirmation, <a href="#">Please click here</a></p>-->
                                </div>
                            </div>
                    <button class="btn btn-primary btn-lg rounded-pill w-100" type="submit">Pay Now</button>
                    
                  </form>
                 </div>
   </div>
            </div>
          </div>
        </div>
      </div>
    

    </div>
</template>
<script>
export default {
    data() {
        return {
            bindProps: {
                mode: "international",
                disabledFetchingCountry: false,
                disabled: false,
                disabledFormatting: false,
                placeholder: "Enter a phone number",
                required: true,
                enabledCountryCode: true,
                enabledFlags: true,
                maxLen: 25,
                wrapperClasses: "",
                inputClasses: "",
                dropdownOptions: {
                    disabledDialCode: false
                },
                inputOptions: {
                    showDialCode: true
                }
            },
            proxyUrl: process.env.MIX_APP_URL,
            invoice:{},
            product:{},
            user:{},
            message:{amount:'0'},
            USDKES:'',
            showAlert:'false',
        }
    },
    created(){
        this.getInvoiceData();
        this.getCurrencyConversationRate();
    },

    methods: {
        showMpesaModal(){
            this.message.amount=Math.round(+this.USDKES * +this.invoice.price);
            $('#mpesa').modal('show');
        },
        initiateSTK(){
            $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            let uri =this.proxyUrl+`api/auth/initiateSTK/${this.$route.params.id}`;
            this.axios.post(uri,this.message, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                $('.modal-content').loader('hide');
                if(response.data.status){
                    this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                    this.showAlert='true';
                    this.message.CheckoutRequestID=response.data.CheckoutRequestID;
                    this.message.MerchantRequestID=response.data.MerchantRequestID;
                    this.interval = setInterval(() => this.checkSTKStatus(), 5000);
                }else{
                    this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                }
            }).catch(error => {
               if (error.response.status === 401) {
                     this.$root.$emit('showLoginModal')
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },
        checkSTKStatus(){
            let uri =this.proxyUrl+`api/auth/checkSTKStatus`;
            this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                if(response.data.status){
                    if(response.data.callback){
                        this.message.mpesa_ref=response.data.mpesa_ref;
                        this.showAlert='success';
                        clearInterval(this.interval)
                        setTimeout(() => {   $("#mpesa").modal("hide"); }, 4000);
                        this.getInvoiceData();
                    }else{
                        this.showAlert='error';
                    }
                }
            }).catch(error => {
                if (error.response.status === 401) {
                     this.$root.$emit('updateInfo')
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },
        getInvoiceData(){
            this.$loading(true)
            let uri =this.proxyUrl+`api/auth/getInvoiceData/${this.$route.params.id}`;
            this.axios.get(uri, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
              this.$loading(false)
              this.invoice=response.data.invoice;
                this.product=response.data.product;
                this.user=response.data.user;
            }).catch(error => {
                this.$loading(false)
                if (error.response.status === 401) {
                    this.$root.$emit('updateInfo')
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },
        getCurrencyConversationRate(){
            let uri =this.proxyUrl+`api/auth/getCurrencyConversationRate`;
            this.axios.get(uri, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                if(response.data.success){
                    this.USDKES=response.data.quotes.USDKES;
                }

            }).catch(error => {
                $('.modal-content').loader('hide');
                if (error.response.status === 401) {
                     this.$root.$emit('updateInfo')
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },

        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        },


    }
}
</script>
