<template>
    <div class="container">
        <div class="row mt-5">
            <Nav></Nav>
         <div class="col-lg-8 col-md-7 mb-5">
 <div class="block product no-border z-depth-2-top z-depth-2--hover">
    <div class="row justify-content-center">
        <div class="col-sm-8">
             <form class="needs-validation mb-5" novalidate v-on:submit.prevent="password()">
                    <div class="mb-4">
                      <label class="form-label mb-2" for="signin-email">Current password</label>
                      <input class="form-control" type="password" v-model="message.currentpass" id="signin-email" placeholder="Enter your name" required>
                    </div>
                     <div class="mb-4">
                      <label class="form-label mb-2" for="signin-email">New password</label>
                      <input class="form-control" type="password" v-model="message.password" id="signin-email" placeholder="Enter your email" required>
                    </div>
                    <div class="mb-4">
                      <label class="form-label mb-2" for="signin-email">Confirm password</label>
                      <input class="form-control" type="password" v-model="message.repass" id="signin-email" placeholder="Enter your email" required>
                    </div>
                   
                    <button class="btn btn-primary btn-lg rounded-pill w-100" type="submit">Update</button>
                    
                  </form>
        </div>
    </div>

 </div>
         </div>

    </div>

    </div>
</template>
<script>
    import  Nav from '../view/nav'
    export default {
        name: 'App',
        components: {
            Nav
        },
        data(){
            return {
            proxyUrl: process.env.MIX_APP_URL,
            message:{},
            
            }
        },
        created(){
           
        },
        methods: {
        password(){
            this.$loading(true)
            let uri =this.proxyUrl+`api/auth/password`;
            this.axios.post(uri,this.message, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                 this.$loading(false)
                if(response.data.status){
                    this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                     this.$root.$emit('updateInfo')
                     clearSession();
                }else{
                    this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                }
            }).catch(error => {
                $('.modal-content').loader('hide');
                if (error.response.status === 401) {
                     this.$root.$emit('updateInfo')
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },
        
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        } 
             

        },

    }

</script>
