<template>
    <div>
        <div class="row justify-content-center mt-5">
        <div  class="col-sm-8">
            <div class="block product no-border z-depth-2-top z-depth-2--hover">
        <div class="  justify-content-center d-lg-flex">
    <div class="box-1 bg-light user">
        
        <div class="box-inner-1 pb-3 mb-3 ">
            <div class="d-flex justify-content-between mb-3 userdetails">
                <p class="fw-bold">{{product.name}}</p>
                
            </div>
            <div id="my" class="" >
                <img :src="proxyUrl+'storage/Product/'+product.url" alt=""  class="d-block w-100">
            </div>
            <p class="dis info my-3">{{product.description}} </p>
           
        </div>
    </div>
    <div class="box-2">
        <div class="box-inner-2">
            <div>
                <img src="/images/methods.png">
            </div>
            
                
                <div>
                    <form v-on:submit.prevent="checkOut()">
                    <div class="address">
                        <p class="dis fw-bold mb-3">Select quntity</p>
                         <!-- <select class="form-select" aria-label="Default select example" v-model="productData.count" v-on:change="calculatePrice()">
                            <option v-for="country in pages" :key="country" v-bind:value="country">{{country}} license(s)</option>
                        </select> -->
                        <div class=" d-flex">
	<button type="button" data-decrease class="btn btn-danger btn-sm" v-on:click="decrease()">-</button>
	<input data-value type="text" class="form-control" v-model="productData.count" v-on:keyup="calculatePrice()" disabled  value="1">
	<button type="button" data-increase class="btn btn-success btn-sm" v-on:click="increase()">+</button>
</div>
                        <!-- <div class="d-flex"> <input class="form-control zip" type="text" placeholder="ZIP"> <input class="form-control state" type="text" placeholder="State"> </div> -->
                        <div class=" my-3">
                            <p class="dis fw-bold mb-2">Promotion code</p>
                            <div class="inputWithcheck"> <input class="form-control" type="text" value="" placeholder="Optional"> <span class="fa fa-check"></span> </div>
                        </div>
                        <div class="d-flex flex-column dis">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <p>Subtotal</p>
                                <p><span class="fa fa-dollar-sign"></span>$ {{formatPrice(productData.price)}}</p>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <p>Shipping fee<span></span></p>
                                <p><span class="fa fa-dollar-sign"></span>Free</p>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <p class="fw-bold">Total</p>
                                <p class="fw-bold"><span class="fas fa-dollar-sign"></span>$ {{formatPrice(productData.price)}}</p>
                            </div>
                            <hr>
                                        <div class="mt-3 mb-3 text-center">
                                            Share product <share-it :icons="true" :targets="['whatsapp','twitter', 'facebook']" :text="'Reliable system for license sales.Buy  '+product.name+' here'" :url="'https://www.licensesourcing.com/product/'+product.uuid"  />
                                        </div>
                                        <div class="form-check mt-3">
                      <input class="form-check-input" type="checkbox" id="apartment" required>
                      <label class="form-check-label" for="apartment"><a href="/policy">I agree to the terms and conditions and privacy policy.</a></label>
                    </div>
                            <button type="submit" class="btn btn-primary mt-2">Checkout<span class="fas fa-dollar-sign px-1"></span>$ {{formatPrice(productData.price)}} </button>
                         <div>
                <img src="/images/methods.png">
            </div>
                        <img src="/images/ssl.jpg" class="mt-5" style="opacity:0.5;">
                        </div>
                    </div>
                    </form>
                </div>
           
        </div>
    </div>
        </div>
        </div>
    </div>
</div>
    </div>
</template>
<script>
export default {
    name: 'App',
    components: {
    },
    data(){
        return {
            proxyUrl: process.env.MIX_APP_URL,
            product:{},
            message:{},
            productData:{product_id:'',price:'',count:'1'},
            pages:[],
            value:'',
        }
    },
    created() {
        this.getProductByUuid();
        this.loopPages();
    },
    methods: {
        loopPages(){
            var i;
            for (i = 1; i <= 200; i++) {
                this.pages=i;
            }
        },
        decrease(){
        this.value = this.productData.count
       if (this.value >1) {
        this.value--;
        this.productData.count=this.value;
        this.calculatePrice();
       }
        },
        increase(){
     this.value = this.productData.count
       if (this.value < 100) {
        this.value++;
        this.productData.count=this.value;
        this.calculatePrice();
       }
        },
        calculatePrice(){
            this.productData.price=+this.productData.count * +this.product.price;
        },
        checkOut(){
           this.$loading(true)
            this.productData.product_id=this.product.id;
            let uri =this.proxyUrl+`api/auth/checkOut`;
            this.axios.post(uri,this.productData, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
               this.$loading(false)
                if(response.data.status){
                    this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                    this.$router.push({name: 'invoice',params:{id:response.data.invoice_id}});
                }else{
                    this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                }
            }).catch(error => {
               this.$loading(false)
                if (error.response.status === 401) {
                   this.$root.$emit('showLoginModal')
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },
        getProductByUuid(){
              this.$loading(true)
            let uri =this.proxyUrl+`api/auth/getProductByUuid/${this.$route.params.id}`;
            this.axios.get(uri, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                  this.$loading(false)
                this.product=response.data.product;
                this.productData.price=response.data.product.price;
            }).catch(error => {
                  this.$loading(false)
                if (error.response.status === 401) {
                    this.$root.$emit('updateInfo')
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },
       
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        },

    }
}
</script>
