<template>
    <div>
        <section class="container py-5 mt-5 mb-lg-2">
<div class="container">
    <div class="container fixed-content">
            <div class="d-flex align-items-sm-center align-items-end">
              <div class="d-flex flex-sm-row flex-column align-items-sm-center w-100 pe-sm-2">
                <label class="mb-sm-0 mb-2 me-sm-2 pe-sm-1 text-nowrap" for="sortby"><i class="fi-arrows-sort me-2"></i>Sort by:</label>
            <select class="form-select form-select-sm mr-3" id="sortby" style="min-width: 180px;" v-model="message.category_id" v-on:change="getProductByCategory()">
                <option class="text-secondary" v-on:click="getProducts()" selected>All vendors products</option>
                <option v-for="data in cat" :key="data.id" v-bind:value="data.id" >{{data.name}}</option>
            </select>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-outline-primary" v-on:click="getProductsOrderByPrice('asc')">
    <input type="radio" name="options" id="option2" autocomplete="off"> Least price 
  </label>
  <label class="btn btn-outline-primary" v-on:click="getProductsOrderByPrice('desc')">
    <input type="radio" name="options" id="option3" autocomplete="off"> Highest price 
  </label>
</div>
                </div>
            </div>
        </div>
        
    <div class="shop-default shop-cards shop-tech mt-3">
        <div class="row">
            <div class="col-md-3 mb-3" v-for="data in pageOfItems" :key="data.id">
                <div class="block product no-border z-depth-2-top z-depth-2--hover">
                    <div class="block-image" v-on:click="routeToBuy(data.uuid)">
                        <a href="#" >
                            <img :src="proxyUrl+'storage/Product/'+data.url" class="img-center">
                        </a>
                    </div>
                    <div class="block-body text-center">
                        <h3 class="heading heading-5 strong-600 text-capitalize">
                            <!-- <a href="#">
                                Google Home Base
                            </a> -->
                        </h3>
                        <p class="product-description text-primary">
                            {{data.name}}
                        </p>
                        <div class="row align-items-center justify-content-center text-center mt-3">
                            <div class="col-sm-6 text-center">
                                <div class="d-flex">
                                <p class="mr-3">$.{{formatPrice(data.price)}}</p>
                                <p><del>$.{{formatPrice((data.price * 30/100)+ +data.price)}}</del></p>
                             </div>
                            </div>
                             
                        </div>
                        <div class="product-buttons mt-4">
                            <div class="row align-items-center">
                                <div class="col-6">
                                   <share-it :icons="true" :targets="['whatsapp', 'facebook']" :text="'Reliable system for license sales.Buy  '+data.name+' here'" :url="'https://www.licensesourcing.com/product/'+data.uuid"  />
                                </div>
                               
                                <div class="col-6">
                                    <button v-on:click="routeToBuy(data.uuid)" type="button" class="btn btn-block btn-outline-primary btn-circle btn-icon-left">
                                        <i class="fa fa-shopping-cart mr-5"></i>Buy
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </div>


    <div class="row justify-content-center">
                    <div class="col-sm-12">
                        <jw-pagination :items="products" :pageSize="40" @changePage="onChangePage" ></jw-pagination>
                    </div>
                </div>
</div>
        </section>
    </div>
</template>
<script>
export default {
    data() {
        return {
            proxyUrl: process.env.MIX_APP_URL,
            cat:[],
            products:[],
            products2:[],
            pageOfItems:[],
            message:{},
        }
    },
       mounted() {
        this.$root.$on('filter', (val) => {
            this.message.filterval=val;
            this.filter();
        })
        },
    created(){
        this.getProducts();
    },

    methods: {
        getProductsOrderByPrice(term){
         this.products= this.lodash.orderBy(this.products, 'price', term);
          this.products2=this.products;
        },
        onChangePage(pageOfItems) {
            this.pageOfItems = pageOfItems;
        },
        routeToBuy(uuid){
            this.$router.push({name: 'product',params:{id:uuid}});
        },
        getProductByCategory(){
           this.$loading(true)
            let uri =this.proxyUrl+`api/auth/getProductByCategory/${this.message.category_id}`;
            this.axios.get(uri, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                this.$loading(false)
                this.products=response.data.products;
                this.products2=response.data.products;
            }).catch(error => {
                 this.$loading(false)
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },
        getProducts(){
             this.$loading(true)
            let uri =this.proxyUrl+`api/auth/getProducts`;
            this.axios.get(uri, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                this.$loading(false)
                this.products=response.data.products;
                this.products2=response.data.products;
                this.getCategories();
            }).catch(error => {
                 this.$loading(false)
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },
        getCategories(){
            let uri =this.proxyUrl+`api/auth/getCategories`;
            this.axios.get(uri, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                this.cat=response.data.cat;
            }).catch(error => {
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },
        filter(){
            let filterval=this.message.filterval;
            if(filterval==='' || filterval===null){
                this.products=this.products2;
            }else{
                let ads =  this.products2.filter(function(product) {
                    return product.name.toLowerCase().includes(filterval.toLowerCase()) || product.price.toLowerCase().includes(filterval.toLowerCase())
                });
                this.products=ads;
            }
        },
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        },


    }
}
</script>
