<template>
    <div class="container">
        <div class="row mt-5">
            <Nav></Nav>
         <div class="col-lg-8 col-md-7 mb-5">
 <div class="block product no-border z-depth-2-top z-depth-2--hover">
    <div class="row justify-content-center">
        <div class="col-sm-8">
             <form class="needs-validation mb-5" novalidate v-on:submit.prevent="updateProfile()">
                    <div class="mb-4">
                      <label class="form-label mb-2" for="signin-email">Name</label>
                      <input class="form-control" type="text" v-model="message.name" id="signin-email" placeholder="Enter your name" required>
                    </div>
                     <div class="mb-4">
                      <label class="form-label mb-2" for="signin-email">Email address</label>
                      <input class="form-control" type="email" v-model="message.email" id="signin-email" placeholder="Enter your email" required>
                    </div>
                     <div class="mb-4">
                      <label class="form-label mb-2" for="signin-email">Phone</label>
                      <vue-tel-input v-model="message.phone" class="form-control" v-bind="bindProps"></vue-tel-input>
                    </div>
                   
                    <button class="btn btn-primary btn-lg rounded-pill w-100" type="submit">Update</button>
                    
                  </form>
        </div>
    </div>

 </div>
         </div>

    </div>

    </div>
</template>
<script>
    import  Nav from '../view/nav'
    export default {
        name: 'App',
        components: {
            Nav
        },
        data(){
            return {
                bindProps: {
                mode: "international",
                disabledFetchingCountry: false,
                disabled: false,
                disabledFormatting: false,
                placeholder: "Enter a phone number",
                required: true,
                enabledCountryCode: true,
                enabledFlags: true,
                maxLen: 25,
                wrapperClasses: "",
                inputClasses: "",
                dropdownOptions: {
                    disabledDialCode: false
                },
                inputOptions: {
                    showDialCode: true
                }
               },
            proxyUrl: process.env.MIX_APP_URL,
            message:{},
            
            }
        },
        created(){
            this.getUser();  
        },
        methods: {
        updateProfile(){
            this.$loading(true)
            let uri =this.proxyUrl+`api/auth/updateProfile`;
            this.axios.post(uri,this.message, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                 this.$loading(false)
                if(response.data.status){
                    this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                    this.getUser();
                }else{
                    this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                }
            }).catch(error => {
                $('.modal-content').loader('hide');
                if (error.response.status === 401) {
                     this.$root.$emit('updateInfo')
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },
        getUser(){
             this.$loading(true)
            let uri =this.proxyUrl+`api/auth/user`;
            this.axios.get(uri, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                 this.$loading(false)
                this.message=response.data.user;
            }).catch(error => {
                 this.$loading(false)
                if (error.response.status === 401) {
                    this.$root.$emit('updateInfo')
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        } 
             

        },

    }

</script>
