
<template>
    <div>
         <section class="container my-5 pt-lg-5 pt-4 pb-lg-5">
        <!-- Breadcrumbs-->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb pt-3 mb-4">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Contact us</li>
          </ol>
        </nav>
        <div class="row gy-4">
          <div class="col-md-6"><img class="rounded-3" src="/assets/img/city-guide/contacts/01.jpg" alt="Cover"></div>
          <div class="col-xl-5 offset-xl-1 col-md-6">
            <h1 class="mb-md-4 mb-3">Contact us</h1>
            <p class="mb-4 pb-md-2 fs-lg">Fill out the form and out team will try to get back to you within 24 hours.</p>
            <!-- Contact form-->
            <form class="needs-validation row row-cols-sm-2 row-cols-1 gy-sm-4 gy-3" novalidate v-on:submit.prevent="postSupport()">
              <div class="col">
                <label class="form-label" for="c-name">Full Name</label>
                <input class="form-control form-control-lg" v-model="message.name" id="c-name" type="text" required>
                <div class="invalid-tooltip mt-1">Please, enter your name</div>
              </div>
              <div class="col">
                <label class="form-label" for="c-email">Email</label>
                <input class="form-control form-control-lg" v-model="message.email" id="c-email" type="email" required>
                <div class="invalid-tooltip mt-1">Please, enter your email</div>
              </div>
              <div class="col">
                <label class="form-label" for="c-phone">Phone</label>
                <vue-tel-input v-model="message.phone" class="form-control" v-bind="bindProps"></vue-tel-input>
                <div class="invalid-tooltip mt-1">Please, enter your phone</div>
              </div>
              <div class="col">
                <label class="form-label" for="c-subject">Subject</label>
                <select class="form-select form-select-lg" id="c-subject" required v-model="message.subject">
                  <option value="" selected disabled>Chose subject</option>
                  <option value="Subject 1">Inquiry</option>
                  <option value="Subject 2">Licence issue</option>
                  <option value="Subject 3">Other</option>
                </select>
                <div class="invalid-tooltip mt-1">Please, choose your subject</div>
              </div>
              <div class="col-12 w-100">
                <label class="form-label" for="c-message">Message</label>
                <textarea class="form-control form-control-lg" id="c-message" v-model="message.message" rows="4" placeholder="Leave your message" required></textarea>
                <div class="invalid-tooltip mt-1">Please, leave your message</div>
              </div>
              <div class="col-12 w-100">
                <button class="btn btn-lg btn-primary w-sm-auto w-100 mt-2" type="submit">Submit message</button>
              </div>
            </form>
          </div>
        </div>
      </section>
       <section class="container pb-5 mb-lg-5">
        <div class="row g-4">
          <div class="col-md-4"><a class="icon-box card card-body border-0 shadow-sm card-hover h-100 text-center" href="mailto:sales@licensesourcing.com">
              <div class="icon-box-media bg-faded-accent text-accent rounded-circle mx-auto mb-3"><i class="fi-mail"></i></div><span class="d-block mb-1 text-body">Drop us a line</span>
              <h3 class="h4 icon-box-title mb-0 opacity-90">sales@licensesourcing.com</h3></a></div>
          <div class="col-md-4"><a class="icon-box card card-body border-0 shadow-sm card-hover h-100 text-center" href="tel:+254777959188">
              <div class="icon-box-media bg-faded-success text-success rounded-circle mx-auto mb-3"><i class="fi-device-mobile"></i></div><span class="d-block mb-1 text-body">Call us any time</span>
              <h3 class="h4 icon-box-title mb-0 opacity-90">+254-777-95-9188</h3></a></div>
          <div class="col-md-4"><a class="icon-box card card-body border-0 shadow-sm card-hover h-100 text-center" href="https://web.facebook.com/licensesourcing">
              <div class="icon-box-media bg-faded-warning text-warning rounded-circle mx-auto mb-3"><i class="fi-facebook"></i></div><span class="d-block mb-1 text-body">Follow us</span>
              <h3 class="h4 icon-box-title mb-0 opacity-90">facebook</h3></a></div>
        </div>
      </section>
    </div>
</template>
<script>
    import  Nav from '../view/nav'
    export default {
        name: 'App',
        components: {
            Nav
        },
        data(){
            return {
               bindProps: {
                mode: "international",
                disabledFetchingCountry: false,
                disabled: false,
                disabledFormatting: false,
                placeholder: "Enter a phone number",
                required: true,
                enabledCountryCode: true,
                enabledFlags: true,
                maxLen: 25,
                wrapperClasses: "",
                inputClasses: "",
                dropdownOptions: {
                    disabledDialCode: false
                },
                inputOptions: {
                    showDialCode: true
                }
               },
            proxyUrl: process.env.MIX_APP_URL,
            message:{},
            
            }
        },
        created(){
           
        },
        methods: {
        postSupport(){
            this.$loading(true)
            let uri =this.proxyUrl+`api/auth/postSupport`;
            this.axios.post(uri,this.message, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                 this.$loading(false)
                if(response.data.status){
                    this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                }else{
                    this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                }
            }).catch(error => {
                this.$loading(false)
                if (error.response.status === 401) {
                     this.$root.$emit('updateInfo')
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },
        
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        } 
             

        },

    }

</script>
